In [4]:
import numpy as np
v = np.array([[1],[2], [3]])
v

array([[1],
       [2],
       [3]])

In [11]:
m= np.array([[1,2,3],[4,5,6],[7,8,9]])
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [2]:
m.shape

(3, 3)

In [7]:
north = np.array([0,1])
east = np.array([1,0])
south = np.array([0,-1])
west = np.array([-1,0])

np.dot(north, south)

-1

$$ A \cdot A^T = I $$

In [14]:
A = np.array([2, 7, 4])
B = np.array([3, 9, 8])

output = np.cross(A, B)
print(output)

[20 -4 -3]

In [25]:
def countdown(n):
    print(n)
    #count backwards from n until we get to 0
    if n>0:
        #stuff
        countdown(n-1)
    else:
        return #stopping condition - terminates the recursion

In [26]:
countdown(3)

3
2
1
0

In [28]:
def countdown(n):

    #count backwards from n until we get to 0
    if n>0:
        #stuff
        countdown(n-1)
        print(n)
    else:
        return #stopping condition - terminates the recursion

In [29]:
countdown(3)

1
2
3

1. Write a function that calculates the dot product manually AND a function that
calculates the cross product manually. Both should accept two vectors and perform
that calculation. Be sure to use try except and error handling for basic issues that
might occur.

In [32]:
A = np.array([2, 7, 4])
B = np.array([3, 9, 8])

output = np.dot(A, B)
print(output)

101

In [39]:
def dot_product(a_vector,b_vector):
 
    return sum([a*b for a,b in zip(a_vector,b_vector)])

X = [1,2,3,4,5,]
Y = [6,7,8,9,10]
print(dot_product(X,Y)) 
a=[1,2,3]
b=[4,5,6]
print(dot_product(a,b)) #prints 32= 1*4 + 2*5 + 3*6 = 
m = [1, 2, 3]
n = [7, 8, 9]
print(dot_product(m,n)) #prints 50

130
32
50

In [42]:
m = [1, 2, 3]
n = [7, 8, 9]
print(dot_product(m,n))

50

In [43]:
np.dot(m,n)

50

In [71]:
def dot_product (a,b):
    y = 0
    for x in range(a.shape[0]):
        try:
            y += a[x]* b[x]
        except Exception as e:
            print(e)
    else: 
        print(y)

In [72]:
v1= np.array([1, 0, 2, 7])
v2 = np.array([3, 8, 5, 3])

dot_product(v1, v2)

34

In [73]:
np.dot(v1, v2)

34

In [ ]:
x = np.array([[1,2,3], [4,5,6], [7, 8, 9]])
y = np.array([[7, 8, 9], [4,5,6], [1,2,3]])
z=

In [103]:
v = np.array([[0, 3, 2]])
w = np.array([[4, 1, 1]])
u = np.array([[0, -2, 0]])
x = 3*v-2*w+4*u
print(x)

[[-8 -1  4]]

In [117]:
def cross(a, b):
    c = [a[1]*b[2] - a[2]*b[1],
         a[2]*b[0] - a[0]*b[2],
         a[0]*b[1] - a[1]*b[0]]

    return c

In [123]:
x = np.array([1, -7, 1])
y = np.array([5, 2, 4])

print(cross(x, y))

[-30, 1, 37]

In [122]:
x = np.array([1, -7, 1])
y = np.array([5, 2, 4])
print(np.cross(x,y))

[-30   1  37]

In [113]:
z = x*y
print(z)

[  5 -14   4]

In [111]:
print(np.cross(x, y))

[-30   1  37]

In [46]:
data = np.array([1, 0, 3, 1])
shape = (data.size, data.max()+1)
one_hot = np.zeros(shape)
rows = np.arange(data.size)
print(rows)

[0 1 2 3]

In [47]:
one_hot[rows, data] = 1
print(one_hot)

[[0. 1. 0. 0.]
 [1. 0. 0. 0.]
 [0. 0. 0. 1.]
 [0. 1. 0. 0.]]

In [48]:
a = np.array([1, 0, 3])
b = np.zeros((a.size, a.max()+1))
b[np.arange(a.size),a] = 1
b

array([[0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.]])

calculate a one hot encoding for the Belize_Airbnb_listings.csv
neighborhood_group column.

In [51]:
import pandas as pd
import numpy as np
belize_listings = "A:/launch_code_STL/Final_Homework/week-4/belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings)

In [52]:
belize_df.head(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.0,5,225

In [59]:
x=belize_df['neighbourhood_group'].value_counts()
x

Belize         1574
Stann Creek     577
Cayo            505
Corozal          65
Toledo           47
Orange Walk      28
Name: neighbourhood_group, dtype: int64

In [60]:
replace_grp = {'neighbourhood_group':{'Belize' : 1, 'Stann Creek' : 2, 'Cayo' : 3,
                                     'Corozal' : 4, 'Toledo' : 5, 'Orange Walk' : 6}}

In [64]:
labels = belize_df['neighbourhood_group'].astype('category').cat.categories.tolist()
replace_grp_comp = {'neighbourhood_group': {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}
print(replace_grp_comp)

{'neighbourhood_group': {'Belize': 1, 'Cayo': 2, 'Corozal': 3, 'Orange Walk': 4, 'Stann Creek': 5, 'Toledo': 6}}

In [65]:
belize_df_replace = belize_df.copy()

In [68]:
belize_df_replace.replace(replace_grp_comp, inplace=True)

print(belize_df_replace.head(15))

        id                                               name  host_id  \
0    36666         Mo's Cozy Casa w/ veranda & access to dock   157752
1    36690  Mo's Cozy Cabana w/ comfy veranda & access to ...   157752
2   108932  Purple House eco solar  w/ ocean & wildlife views   563377
3   110483                            Michelo's fuchsia suite   567809
4   120115               Seaside Villas Second Floor Unit  #4   604999
5   120116                                           Valarosa   604999
6   124794                 Sabal Beach - secluded eco-retreat   562206
7   152512  Stunning one br apt-kitchen, air con, bikes & ...   733857
8   152922                     rent a private room in a house   735525
9   171294                                        King Deluxe   817242
10  171301                     Cabana in a Rainforest Setting   817242
11  179190  Stand Alone Caribbean Cabana #7 - Colinda Cabanas   857431
12  182596        Caribbean Beach Cabana #6 @ Colinda Cabanas   857431
13  182610   Ocean View Caribbean Cabana #5 @ Colinda Cabanas   857431
14  183285        Caribbean Beach Cabana #8 - Colinda Cabanas   857431

        host_name  neighbourhood_group         neighbourhood  latitude  \
0         Monique                    1        Belize Islands  17.74786
1         Monique                    1        Belize Islands  17.74832
2         Michael                    1        Belize Islands  17.73221
3          Michel                    5  Stann Creek Mainland  16.52114
4           Bobbi                    1        Belize Islands  17.74166
5           Bobbi                    1        Belize Islands  17.73644
6   David & Wayne                    6       Toledo Mainland  16.28752
7           Jacki                    5  Stann Creek Mainland  16.52644
8        Jennifer                    2                  Cayo  17.25395
9         Michael                    2                  Cayo  17.16261
10        Michael                    2                  Cayo  17.16368
11        Colinda                    1        Belize Islands  17.73696
12        Colinda                    1        Belize Islands  17.73696
13        Colinda                    1        Belize Islands  17.73696
14        Colinda                    1        Belize Islands  17.73696

    longitude        room_type  price  minimum_nights  number_of_reviews  \
0   -88.02398  Entire home/apt    141               3                250
1   -88.02474  Entire home/apt     71               3                316
2   -88.03824  Entire home/apt    191               2                 30
3   -88.36926       Hotel room    121               1                 27
4   -88.02395  Entire home/apt    343               1                 30
5   -88.02858  Entire home/apt    171               2                 49
6   -88.54550  Entire home/apt    232               3                 18
7   -88.37000  Entire home/apt    165               7                 64
8   -88.76870     Private room     52               1                 11
9   -89.06995     Private room    286               1                 40
10  -89.07051  Entire home/apt    212               1                 87
11  -88.02607  Entire home/apt    151               1                110
12  -88.02607  Entire home/apt    175               1                142
13  -88.02607  Entire home/apt    168               1                126
14  -88.02607  Entire home/apt    134               1                 47

   last_review  reviews_per_month  calculated_host_listings_count  \
0    2/23/2021               2.00                               5
1    2/19/2021               2.46                               5
2    3/14/2020               0.78                               1
3    2/24/2020               0.29                               3
4    3/18/2020               0.64                              22
5    3/23/2020               0.80                              22
6    1/12/2020               0.16                               2
7    2/10/2021               0.57                               5
8   12/14/2019               0.18                               1
9     2/3/2020               0.47                               8
10    1/5/2020               1.02                               8
11   1/31/2020               0.96                              14
12   3/17/2020               1.27                              14
13   2/20/2021               1.15                              14
14   2/29/2020               0.41                              14

    availability_365
0                225
1                164
2                364
3                331
4                203
5                  0
6                338
7                298
8                364
9                362
10               359
11               308
12               323
13               322
14               353