In [14]:
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
#file_to_load = "C:/Users/rsagu/Desktop/launch_code/Data-Science-Assignments/course_material/week_04/purchase_data.csv"
file_to_load = "CC:\Users\rsagu\OneDrive\Documents\Homework

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/rsagu/Desktop/launch_code/Data-Science-Assignments/course_material/week_04/purchase_data.csv'

In [15]:
purchase_data.to_csv("C:/Users/rsagu/Desktop/launch_code/Data-Science-Assignments/course_material/week_04/purchase_data.csv", 
                     index=False, header=True)

NameError: name 'purchase_data' is not defined

In [64]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [10]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

# Player Count

In [65]:
total_players = len(purchase_data["SN"].unique())
total_players

total_players_count = (pd.DataFrame({"Total Players":[total_players]}))
total_players_count

   Total Players
0            576

# Purchasing Analysis (Total)

In [66]:
# Run basic calculations to obtain number of unique items, average price, etc.
Unique_items = len(purchase_data["Item ID"].unique())
Unique_items

183

In [67]:
Avg_price = purchase_data["Price"].mean()
Avg_price

3.0509871794871795

In [68]:
Number_of_purchases = purchase_data["Purchase ID"].count()
Number_of_purchases

780

In [69]:
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [70]:
Purchasing_Analysis_Total = pd.DataFrame({"Number of Unique Items": [Unique_items],
                             "Average purchase Price": [Avg_price],
                             "Number of Purchases": [Number_of_purchases],
                             "Total Revenue": [total_revenue]})
Purchasing_Analysis_Total

# Here, the $ sign is literally the dollar sign,.2f (a float with 2 decimals and a comma)

Purchasing_Analysis_Total.style.format({'Average purchase Price': '${:,.2f}',
                                        'Total Revenue': '${:,.2f}'})

# Gender Demographics

In [71]:
# Group by Gender
gender = purchase_data.groupby("Gender")
total_count = gender.nunique()["SN"]
total_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [72]:
# Percentage and Count of Players:
percentage_of_players = total_count / total_players * 100
percentage_of_players

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [73]:
# Gender data frame:
gender_demographics = pd.DataFrame({"Total Count": total_count,
                                    "Percentage of Players": percentage_of_players})
gender_demographics.index.name = None

# Formatting the values using the $ is literally the dollar sign while the % is the beginning of the argument %,.2f (a float
# with 2 decimals and a comma):
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})

# Purchasing Analysis (Gender)

In [20]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender:
purchase_count = gender["Purchase ID"].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [74]:
avg_purchase_price = gender["Price"].mean()
avg_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [75]:
avg_purchase_total = gender["Price"].sum()
avg_purchase_total

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [76]:
avg_purchase_total_per_person = avg_purchase_total/total_count
avg_purchase_total_per_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [77]:
# Create data frame with obtained values:
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value":avg_purchase_total,
                                    "Avg Total Purchase per Person": avg_purchase_total_per_person})

# Provide index in top left as "Gender":
gender_demographics.index.name = "Gender"

# Formatting the values using the $ is literally the dollar sign and,.2f (a float with 2 decimals and a comma):

gender_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})

# Age Demographics

In [78]:
# Establish bins for ages:
Age_group = ["&lt;10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]

# Categorize the existing players using the age bins. Hint: use pd.cut():
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=Age_group)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,&lt;10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [28]:
# Calculate the numbers by age group:
age_grouped = purchase_data.groupby("Age Group")
age_count = age_grouped["SN"].nunique()
age_count.head(2)

Age Group
&lt;10    17
10-14     22
Name: SN, dtype: int64

In [29]:
# Calculate the percentages by age group:
percentage_by_age = (age_count/total_players) * 100
percentage_by_age.head(2)

Age Group
&lt;10    2.951389
10-14     3.819444
Name: SN, dtype: float64

In [57]:
# DataFrame for Age Demographics data: 
age_demographics = pd.DataFrame({"Total Count": age_count,
                                "Percentage of Players": percentage_by_age})

# Formatting the values using the $ is literally the dollar sign while the % is the beginning of the argument %,.2f (a float
# with 2 decimals and a comma): 
age_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

# Purchasing Analysis (Age)

In [32]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person: 
purchase_count_age = age_grouped["Purchase ID"].count()
purchase_count_age.head(4)

Age Group
&lt;10     23
10-14      28
15-19     136
20-24     365
Name: Purchase ID, dtype: int64

In [33]:
avg_purchase_price_age = age_grouped["Price"].mean()
avg_purchase_price_age.head()

Age Group
&lt;10    3.353478
10-14     2.956429
15-19     3.035956
20-24     3.052219
25-29     2.900990
Name: Price, dtype: float64

In [35]:
total_purchase_value_age = age_grouped["Price"].sum()
total_purchase_value_age.head()

Age Group
&lt;10      77.13
10-14       82.78
15-19      412.89
20-24     1114.06
25-29      293.00
Name: Price, dtype: float64

In [36]:
avg_purchase_per_person_age = total_purchase_value_age/age_count
avg_purchase_per_person_age.head()

Age Group
&lt;10    4.537059
10-14     3.762727
15-19     3.858785
20-24     4.318062
25-29     3.805195
dtype: float64

In [58]:
# Create a summary data frame with obtained values:
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value_age,
                                 "Avg Total Purchase per Person": avg_purchase_per_person_age})

# Format the data frame with no index name in the corner:
age_demographics.index.name = None

# Formatting the values using the $ is literally the dollar sign and,.2f (a float with 2 decimals and a comma): 
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Avg Total Purchase per Person":"${:,.2f}"})

# Top Spenders

In [41]:
spender_screen_names = purchase_data.groupby("SN")
spender_screen_names.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,&lt;10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [42]:
purchase_count_spender = spender_screen_names["Purchase ID"].count()
purchase_count_spender.head()

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: Purchase ID, dtype: int64

In [43]:
avg_purchase_price_spender = spender_screen_names["Price"].mean()
avg_purchase_price_spender.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [44]:
purchase_total_spender = spender_screen_names["Price"].sum()
purchase_total_spender.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [59]:
# Create a summary data frame to hold the results
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort the purchase count column in descending order to obtain top 5 spender names:
formatted_spenders = top_spenders.sort_values(["Purchase Count"], ascending=False).head()

# Formatting the values using the $ is literally the dollar sign and,.2f (a float with 2 decimals and a comma): 
formatted_spenders.style.format({"Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

# Most Popular Items

In [46]:
# Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
items = purchase_data[["Item ID", "Item Name", "Price"]]
popular_item = items.groupby(["Item ID","Item Name"])
popular_item.head()

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
766       58          Freak's Bite, Favor of Holy Might   4.14
774      101                               Final Critic   4.19
777       67      Celeste, Incarnation of the Corrupted   3.46
778      101                               Final Critic   4.19
779       50                                       Dawn   4.60

[697 rows x 3 columns]

In [47]:
purchase_count_item = popular_item["Price"].count()
purchase_count_item

Item ID  Item Name
0        Splinter                           4
1        Crucifer                           3
2        Verdict                            6
3        Phantomlight                       6
4        Bloodlord's Fetish                 5
                                           ..
179      Wolf, Promise of the Moonwalker    6
180      Stormcaller                        1
181      Reaper's Toll                      5
182      Toothpick                          3
183      Dragon's Greatsword                3
Name: Price, Length: 183, dtype: int64

In [48]:
purchase_value = (popular_item["Price"].sum()) 
item_price = purchase_value/purchase_count_item
item_price

Item ID  Item Name
0        Splinter                           1.28
1        Crucifer                           3.26
2        Verdict                            2.48
3        Phantomlight                       2.49
4        Bloodlord's Fetish                 1.70
                                            ...
179      Wolf, Promise of the Moonwalker    4.48
180      Stormcaller                        3.36
181      Reaper's Toll                      1.66
182      Toothpick                          4.03
183      Dragon's Greatsword                1.09
Name: Price, Length: 183, dtype: float64

In [60]:
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort the purchase count column in descending order to get the top 5 spender names:
popular_five = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Formatting the values using the $ is literally the dollar sign and,.2f (a float with 2 decimals and a comma): 
popular_five.style.format({"Item Price":"${:,.2f}",
                           "Total Purchase Value":"${:,.2f}"})

# Most Profitable Items

In [61]:
# Sorting the above table by total purchase value in descending order:
popular_five = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()
# Formatting the values using the $ is literally the dollar sign and,.2f (a float with 2 decimals and a comma): 
popular_five.style.format({"Item Price":"${:,.2f}",
                           "Total Purchase Value":"${:,.2f}"})

In [52]:
# You must include a written description of three observable trends based on the data.

# For purchasing analysis (Gender): Male group gender make up a majority of purchase count and total purchase value, but 
# donâ€™t spend any more per purchase than the other two categories.

# In Age Demographics Data: Age groups 15-19 and 20-24 are purchasing most often and at the highest Average Purchase price. 
# Their combined Total Purchase Values make up 64% of the Total Revenue.

# The most popular items listed in the Data are listed in the top 5 most profitable items. so, to increase the total revenue
# The company may want to consider increasing the prices of the other most popular items listed.