# Week-19 Homework Assignment

1.	Create a study guide for all the supervised learning models we have gone over. Include information about how the algorithms work, how they are evaluated, and any other information you deem necessary. Use your own words. Do NOT copy mine or that of articles we have read.

#### supervised learning models:
With supervised learning task, we can generate a model or predict an output based on input values.
 In machine learning models the output of the model is typically called a label, target variable, or response variable or dependent variable.
 The inputs into the model are called features or predictors or independent variable.

The algorithm "learns" the optimal model by studying a training set of data that consists of several obsevations, 
or instances, each of which contains values for both features and its labels.here, the supervised learning algorithm acts as
a function that takes training data as input and produces a model as its output.

The most popular Python library for machine learning is the Scikit-Learn (sklearn) package. Scikit-Learn provides functions for creating supervised learning models, as well as for performing unsupervised learning tasks,also provides tools for working and preparing data in creating models.
scikit-learn makes it very easy to try different models, since the Train-Test-Split/Instantiate/Fit/Predict pattern applies to all the classifiers and regressors.

Supervised learning models are divided into Classification and Regression problems based on whether the target values are
continuous or categorical.
Classification, when the target values are discrete classes For example, Predicting whether the loan is at 'high risk' or 
'low risk'. In class example like predicting the patient as diabetic or not diabetic.

Regression, when the target values are continuous, real numbers. For example, Predicting a credit score, predicting the sale
price of a home.

#### K-Nearest Neighbors(KNN)
K-Nearest Neighbors(KNN) is a simple algorithm, used to predict the label of any data point by looking at the K. 
'K' in KNN is a parameter that refers to the number of nearset neighbors to include in the majority voting process. It is 
mostly used for classification problems.

steps involved are:
1. import all the necessary libraries from scikit-learn

from sklearn.neighbors import KNeighborsClassifier 

2. Instantiate the model, and set the number of neighbors

knn = KNeighborsClassifier(n_neighbors=?)

3. Fit the model to the training set, the labeled data

knn.fit()

4. Predict the label of an unlabeled data point(new data)

knn.predict()

After prediction we need to test the model performance, to measure its performance we need a metric.
Generally in classification problems we use accuracy as a performance metric.
The classifier is trained on training set, generally we use train_test_split to split the data into training set and 
test set and then predictions are made on the test set and then compared with the known labels.
The accuracy of the predictions is then computed.

#### Regression: 
In regression tasks, the target value is a continuously varying variable, like the price of a house.

#### Linear Regression
A linear regression model uses the features to generate predictions for the countinous/real-valued label. 
The model parameters are calculated by a learning algorithm to generate the model that provides the best fit for the given
data. The learning algorithm measures the quality of the fit using the sum of squared errors loss function.

1.To start with, we need to create features and target variables in distinct arrays, X and y. 
Using the .values attribute returns numpy arrays or using .to_numpy.

2. We will now split the dataset into training and test sets, using an 80/20 split.

3.Instantiate sklearn.linear_model.LinearRegression

4.Fit the model by passing in the data and target.

5.The trained model will contain two new attributes: intercept_ and coef_.
The intercept_ attribute contains the optimal value of the fitted model and coef_ attribute contains a list of values of 
other parameters.

For classification models, score() returns the model's accuracy on the provided dataset.
For regression models, score() returns the model's r-squared score, as calculated on the provided dataset.
The r-squared score is a number between 0 and 1 that can be interpretted as the proportion of the variance of the response variable

#### Cross-validation
Cross-validation is an important step in evaluating a model. It maximizes the amount of data that is used to train 
the model, the model is trained, and also tested on that data.

we use scikit-learn's cross-validation, import cross_val_score from sklearn.model_selection.
We do this by splitting the dataset into groups, or folds. As the dataset is split into 5 folds, 
this process is called 5-fold cross validation, if k-folds are used it is called k-fold CV.
while using cross-validation, it is important to remember that if we use more folds, the more computationally expensive
it will be.

#### To test how good your model is?
Accuracy is not useful in all the cases, particularly when dealing with class imbalance problems. For example,
in spam detection where  99% of emails are real and only 1% are SPAM. There comes confusion_matrix into picture 
which gives the summary of predictive performance, True Positive, True Negative, False Negative, False Positive.
Also, there are several other important metrics we can easily calculate from the confusion matrix.
Precision, which is the number of true positives, divided by the total number to true positives and false positives.
Recall, which is the number of true positives, divided by the total number of true positives and false negatives.
Recall is also called sensitivity, or true positive rate.

To evaluate the performance of binary classifiers, we use confusion matrix and generate a classification report.
Import classification_report and confusion_matrix from sklearn.metrics. Then, create training and test sets, instantiate
the model, then fit the model on the training set and predict the labels on the test set. Lastly, compute and print the
confusion matrix and classification report using the confusion_matrix() and classification_report() functions.

#### Logistic regression 
Logistic regression is a linear classification method based on probabilty. It can be used in multi-class
classification problems, as well as in binary clasiffication problems.

1.We use the LogisticRegression class from Scikit-Learn to create the classification model, will start with extracting the 
feature and label arrays from the dataset, Before creating the model, we can roughly ckeck the probability of actual values
using numpy.mean() function.

2.Next split the data into training and test sets, now we use Scikit-Learn to create our logistic regression classifier and
then print the parameters(intercept_ and coef_) for our optimal model.

3.Then, model's score() method to used to calculate the accuracy on the training and test sets.

4.Next, to generate predictions will use the predict() method.

5.we will use predict_proba to generate probability estimates for each observations.

6.Fnally, compute and print the confusion matrix and classification report for the model.

To evaluate the model performance we have ROC curve. It is a way to visually evaluate model performance. After building the logistic regression model, we try to evaluate its performance by plotting an ROC curve. This can be done using the .predict_proba() method.

ROC(Receiver Operating Characteristic)curve is an evaluation metric for binary classification problems, created by plotting the true positive rate (TPR) against the false positive rate (FPR) at various thresholds. It shows the trade-off between sensitivity (or TPR) and specificity (1 – FPR)

In [ ]:
Parameters that needs to be specified before fitting a model, are called hyperparameters.
By Choosing the correct hyperparameters we can build a successful model.

When fitting different values of hypterparameter, it is better to use cross-validation along with train_test_split to avoid overfitting of the model

#### Data Preprocessing steps:

1. Handle missing data : drop or fill NaNs
2. Cleaning Datatypes for all features
3. Processing Categorical features to numerical values
4. Feature Engineering
5. Standardizing or Normalizing
6. Removing redundant or related features
7. Stratified Sampling / PCA (Dimensionality reduction)

2.	Do the same as question 1 except for unsupervised learning models. Something that is necessary for many models is determining number, so specify how you determine the number of clusters for example. Apply this concept to any other algorithms it is relevant for.

3.	Preprocess the customer data https://www.kaggle.com/carrie1/ecommerce-data . How are you handling nulls? What process(es) are you using to encode and normalize the data?

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [22]:
df = pd.read_csv("A:\launch_code_STL\Final_Homework\week-19\data.csv", sep=",", encoding="ISO-8859-1")
print(df.shape)
df.head()

(541909, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

when we import the data in csv format, we get different characters in the data that's when we should be using encoding.
In this dataset encoding is used to convert string into byte string. so, to be able to pass non-ascii data, we are using 
encoding="ISO-8859-1".

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

### Checking missing values

In [24]:
df.isnull().sum().sort_values(ascending=False)

CustomerID     135080
Description      1454
InvoiceNo           0
StockCode           0
Quantity            0
InvoiceDate         0
UnitPrice           0
Country             0
dtype: int64

We have data missing for the columns customer ID and Description

#### Check out the rows with Missing Values

In [25]:
df[df.isna().any(axis=1)].head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.00,NaN,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,12/1/2010 14:32,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,12/1/2010 14:32,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,12/1/2010 14:32,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,12/1/2010 14:32,1.66,NaN,United Kingdom
1447,536544,21790,VINTAGE SNAP CARDS,9,12/1/2010 14:32,1.66,NaN,United Kingdom
1448,536544,21791,VINTAGE HEADS AND TAILS CARD GAME,2,12/1/2010 14:32,2.51,NaN,United Kingdom
1449,536544,21801,CHRISTMAS TREE DECORATION WITH BELL,10,12/1/2010 14:32,0.43,NaN,United Kingdom
1450,536544,21802,CHRISTMAS TREE HEART DECORATION,9,12/1/2010 14:32,0.43,NaN,United Kingdom
1451,536544,21803,CHRISTMAS TREE STAR DECORATION,11,12/1/2010 14:32,0.43,NaN,United Kingdom

#### Changing Invoice Date Format

In [26]:
df['InvoiceDate']=pd.to_datetime(df.InvoiceDate,format='%m/%d/%Y %H:%M')

#### Dropping missing values

In [27]:
df=df.dropna()

In [32]:
df.isnull().sum().sort_values(ascending=False)

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [ ]:
#### Change the column type from String to Integer

In [29]:
df['CustomerID']=df['CustomerID'].astype('int64')

In [30]:
#### Making copy of dataframe
df2=df.copy()

In [31]:
df2.describe().round(2)

        Quantity  UnitPrice  CustomerID
count  406829.00  406829.00   406829.00
mean       12.06       3.46    15287.69
std       248.69      69.32     1713.60
min    -80995.00       0.00    12346.00
25%         2.00       1.25    13953.00
50%         5.00       1.95    15152.00
75%        12.00       3.75    16791.00
max     80995.00   38970.00    18287.00

#### Remove Quantity with negative values

In [42]:
df_new = df2[df2.Quantity > 0]
df_new.describe().round(2)

        Quantity  UnitPrice  CustomerID
count  397924.00  397924.00   397924.00
mean       13.02       3.12    15294.32
std       180.42      22.10     1713.17
min         1.00       0.00    12346.00
25%         2.00       1.25    13969.00
50%         6.00       1.95    15159.00
75%        12.00       3.75    16795.00
max     80995.00    8142.75    18287.00

So the minimum value for the quantity is 1 i.e, we have managed to remove outlier from the dataset

In [43]:
#### Lets Calculate the Amount Spend by a customer

In [44]:
#Add the column - amount_spent
df_new['Amount_spent'] = df_new['Quantity'] * df_new['UnitPrice']
df_new.head()

C:\Users\rsagu\AppData\Local\Temp/ipykernel_9048/3317870604.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Amount_spent'] = df_new['Quantity'] * df_new['UnitPrice']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Amount_spent
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

#### Number of sales in country by customer

In [48]:
sales_per_cust=df_new.groupby(by=['CustomerID','Country'],as_index=False)['InvoiceNo'].count().sort_values(by='InvoiceNo',ascending=False)
sales_per_cust.columns=['CustomerID','Country','NumberofSales']
sales_per_cust.head()

      CustomerID         Country  NumberofSales
4019       17841  United Kingdom           7847
1888       14911            EIRE           5677
1298       14096  United Kingdom           5111
334        12748  United Kingdom           4596
1670       14606  United Kingdom           2700

#### The Customer ID of highest spending Customers

In [49]:
spent_per_cust=df_new.groupby(by=['CustomerID','Country'],as_index=False)['Amount_spent'].sum().sort_values(by='Amount_spent',ascending=False)
#spent_per_cust.columns=['CustomerID','Country','TotalSpent']
spent_per_cust.head(10)

      CustomerID         Country  Amount_spent
1698       14646     Netherlands     280206.02
4210       18102  United Kingdom     259657.30
3737       17450  United Kingdom     194550.79
3017       16446  United Kingdom     168472.50
1888       14911            EIRE     143825.06
57         12415       Australia     124914.53
1342       14156            EIRE     117379.63
3780       17511  United Kingdom      91062.38
2711       16029  United Kingdom      81024.84
0          12346  United Kingdom      77183.60