In [18]:
# importing libraries  

import numpy as np  

import matplotlib.pyplot as mtp  

import pandas as pd

In [4]:
#importing dataset  
df = pd.read_csv("A:\launch_code_STL\Final_Homework\week-12\loans_full_schema.csv")
df

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,RENT,40000.0,Not Verified,5.04,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,RENT,40000.0,Source Verified,21.15,NaN,NaN,NaN,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,RENT,30000.0,Not Verified,10.16,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,RENT,35000.0,Verified,57.96,57000.0,Verified,37.66,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,owner,10.0,TX,RENT,108000.0,Source Verified,22.28,NaN,NaN,NaN,...,A4,Jan-2018,Current,whole,Cash,21586.34,2969.80,2413.66,556.14,0.0
9996,director,8.0,PA,MORTGAGE,121000.0,Verified,32.38,NaN,NaN,NaN,...,D3,Feb-2018,Current,whole,Cash,9147.44,1456.31,852.56,603.75,0.0
9997,toolmaker,10.0,CT,MORTGAGE,67000.0,Verified,45.26,107000.0,Source Verified,29.57,...,E2,Feb-2018,Current,fractional,Cash,27617.65,4620.80,2382.35,2238.45,0.0
9998,manager,1.0,WI,MORTGAGE,80000.0,Source Verified,11.99,NaN,NaN,NaN,...,A1,Feb-2018,Current,whole,Cash,21518.12,2873.31,2481.88,391.43,0.0
9999,operations analyst,3.0,CT,RENT,66000.0,Not Verified,20.82,NaN,NaN,NaN,...,B4,Feb-2018,Current,whole,Cash,11574.83,1658.56,1225.17,433.39,0.0

In [8]:
#Extracting Independent Variable  

x= df.iloc[:, :-1].values  
x

array([['global config engineer ', 3.0, 'NJ', ..., 1999.33, 984.14,
        1015.19],
       ['warehouse office clerk', 10.0, 'HI', ..., 499.12, 348.63,
        150.49],
       ['assembly', 3.0, 'WI', ..., 281.8, 175.37, 106.43],
       ...,
       ['toolmaker', 10.0, 'CT', ..., 4620.8, 2382.35, 2238.45],
       ['manager', 1.0, 'WI', ..., 2873.31, 2481.88, 391.43],
       ['operations analyst', 3.0, 'CT', ..., 1658.56, 1225.17, 433.39]],
      dtype=object)

In [9]:
#Extracting Dependent variable  

y= df.iloc[:, 3].values
y

array(['MORTGAGE', 'RENT', 'RENT', ..., 'MORTGAGE', 'MORTGAGE', 'RENT'],
      dtype=object)

In [19]:
#handling missing data(Replacing missing data with the mean value)

from sklearn.impute import SimpleImputer

# from sklearn.preprocessing import Imputer 
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(df[['debt_to_income']])
df['debt_to_income'] = imputer.transform(df[['debt_to_income']])

In [31]:
df.head(160)

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,RENT,40000.0,Not Verified,5.04,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,RENT,40000.0,Source Verified,21.15,NaN,NaN,NaN,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,RENT,30000.0,Not Verified,10.16,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,RENT,35000.0,Verified,57.96,57000.0,Verified,37.66,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,senior data engineer,4.0,VA,RENT,97000.0,Not Verified,0.33,NaN,NaN,NaN,...,C5,Mar-2018,Current,whole,Cash,32678.16,3629.75,2321.84,1307.91,0.0
156,mechanic/owner,10.0,IL,MORTGAGE,30000.0,Not Verified,8.56,NaN,NaN,NaN,...,C2,Feb-2018,Current,whole,Cash,9522.69,914.73,477.31,437.42,0.0
157,NaN,NaN,TN,OWN,50000.0,Source Verified,14.16,NaN,NaN,NaN,...,B2,Mar-2018,Current,whole,Cash,18550.28,1922.78,1449.72,473.06,0.0
158,commercial insurance broker,5.0,CA,MORTGAGE,115000.0,Source Verified,12.89,NaN,NaN,NaN,...,C4,Mar-2018,Current,whole,Cash,38629.65,2823.90,1370.35,1453.55,0.0
159,field operations supervisor,2.0,IL,MORTGAGE,80000.0,Not Verified,9.92,NaN,NaN,NaN,...,A3,Mar-2018,Current,whole,DirectPay,11089.41,1102.35,910.59,191.76,0.0

In [1]:


#Fitting imputer object to the independent varibles x.   

imputerimputer= imputer.fit(x[:, 1:3])  

  

#Replacing missing data with the calculated mean value  

x[:, 1:3]= imputer.transform(x[:, 1:3])  

  

#for Country Variable  

from sklearn.preprocessing import LabelEncoder, OneHotEncoder  

label_encoder_x= LabelEncoder()  

x[:, 0]= label_encoder_x.fit_transform(x[:, 0])  

  

#Encoding for dummy variables  

onehot_encoder= OneHotEncoder(categorical_features= [0])    

x= onehot_encoder.fit_transform(x).toarray()  

  

#encoding for purchased variable  

labelencoder_y= LabelEncoder()  

y= labelencoder_y.fit_transform(y)  

  

# Splitting the dataset into training and test set.  

from sklearn.model_selection import train_test_split  

x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.2, random_state=0)  

  

#Feature Scaling of datasets  

from sklearn.preprocessing import StandardScaler  


st_x= StandardScaler()  

x_train= st_x.fit_transform(x_train)  

x_test= st_x.transform(x_test)

SyntaxError: invalid character '‘' (U+2018) (Temp/ipykernel_29640/4201085236.py, line 13)