#### Write a lambda function to rearrange positive and negative numbers in agiven list

Sample output:

original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]
resulting_list = [2,4,6,8,10,12,-11,-9,-7,-5,-3,-1]

In [27]:
original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]

positives = list(filter(lambda x:(x>=0), original_list))
print(positives)

negatives = list(filter(lambda x:(x<0), sorted(original_list)))
print(negatives)

df = positives, negatives
df

[2, 4, 6, 8, 10, 12]
[-11, -9, -7, -5, -3, -1]

([2, 4, 6, 8, 10, 12], [-11, -9, -7, -5, -3, -1])

Create a new dataframe using week_11/temperatures/temperature.csv file
from last class. It should have the datetime column and one of the cities.
Create a new boolean column called is_freezing that indicates if the
temperature is at or below freezing. Use a lambda to create this column. Is
there a better way to do this than with a lambda?

In [29]:
import numpy as np
import pandas as pd
import os

temp = pd.read_csv(r"A:\launch_code_STL\Final_Homework\week-11\temperatures\temperature.csv", index_col='datetime', parse_dates=True)
temp_Portland = temp['Portland']
temp_Portland.columns = ['Seattle']

Portland_df = pd.DataFrame(temp_Portland)
Portland_df

                       Portland
datetime
2012-10-01 12:00:00         NaN
2012-10-01 13:00:00  282.080000
2012-10-01 14:00:00  282.083252
2012-10-01 15:00:00  282.091866
2012-10-01 16:00:00  282.100481
...                         ...
2017-11-29 20:00:00  282.000000
2017-11-29 21:00:00  282.890000
2017-11-29 22:00:00  283.390000
2017-11-29 23:00:00  283.020000
2017-11-30 00:00:00  282.280000

[45253 rows x 1 columns]

In [30]:
Portland_temp = Portland_df.assign(is_freezing = lambda x: x['Portland']<=273.15)
Portland_temp

                       Portland  is_freezing
datetime
2012-10-01 12:00:00         NaN        False
2012-10-01 13:00:00  282.080000        False
2012-10-01 14:00:00  282.083252        False
2012-10-01 15:00:00  282.091866        False
2012-10-01 16:00:00  282.100481        False
...                         ...          ...
2017-11-29 20:00:00  282.000000        False
2017-11-29 21:00:00  282.890000        False
2017-11-29 22:00:00  283.390000        False
2017-11-29 23:00:00  283.020000        False
2017-11-30 00:00:00  282.280000        False

[45253 rows x 2 columns]

In [39]:
import time

start_time = time.perf_counter()
Portland_df.assign(is_freezing = lambda x: x['Portland']<=273.15)
end_time = time.perf_counter()

total_time = end_time - start_time
total_time

0.0030490999997709878

In [44]:
Portland_df['is_freezing'] = np.where(Portland_df['Portland']<=273.15,True,False)
Portland_df.head()

                       Portland  is_freezing2
datetime
2012-10-01 12:00:00         NaN         False
2012-10-01 13:00:00  282.080000         False
2012-10-01 14:00:00  282.083252         False
2012-10-01 15:00:00  282.091866         False
2012-10-01 16:00:00  282.100481         False