In [2]:
# Import jeopardy.csv and create a dataframe from the data Find out the following:
# a. How many rows are there in the dataframe? What does a row represent in this
# dataset? What is the “grain”?
# b. Clean the data. How do you need to “clean” it? What is “dirty” about this data?
# c. How many unique shows were there each year?
# d. How many times was each category used?
# e. Which month (over the years) has had the most shows?
# f. Are there any answers that appeared multiple times? Find the questions for the top
# three most common answers.

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# File to Load (Remember to Change These)
file_to_load = "C:/Users/rsagu/OneDrive/Documents/launch_code/Data-Science-Assignments/course_material/week_05/JEOPARDY_CSV.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)

In [26]:
row_count = len(df.index)
print("Numer of rows =", row_count)

Numer of rows = 216930

In [27]:
years = pd.DatetimeIndex(df[" Air Date"]).year
unique = df.groupby(years)['Show Number'].nunique()
print(unique)

 Air Date
1984     23
1985     16
1986     25
1987     22
1988     22
1989     36
1990     73
1991     24
1992     32
1993     35
1994     19
1995     19
1996     83
1997    221
1998    223
1999    229
2000    225
2001    203
2002    114
2003    158
2004    220
2005    225
2006    230
2007    231
2008    232
2009    226
2010    231
2011    224
2012     19
Name: Show Number, dtype: int64

In [16]:
print("Number of rows and columns:")
print(df.shape)
print("Data type of each column:")
print(df.dtypes)

Number of rows and columns:
(216930, 7)
Data type of each column:
Show Number     int64
 Air Date      object
 Round         object
 Category      object
 Value         object
 Question      object
 Answer        object
dtype: object

In [17]:
df[' Category'].value_counts().nlargest(10)

BEFORE & AFTER             547
SCIENCE                    519
LITERATURE                 496
AMERICAN HISTORY           418
POTPOURRI                  401
WORLD HISTORY              377
WORD ORIGINS               371
COLLEGES & UNIVERSITIES    351
HISTORY                    349
SPORTS                     342
Name:  Category, dtype: int64

In [19]:
print(df.iloc[202][' Category'])
print(df.iloc[202][' Question'])
print(df.iloc[202][' Answer'])

ARCHITECTS
Louis Skidmore designed the secret atomic site that became this Tennessee town
Oak Ridge

In [ ]:
# One thing I’ve noticed that there’s an extra space in the column names

In [22]:
df.shape

(216930, 7)

In [ ]:
# isnull(). sum() function returns the number of missing values in the data set.

In [23]:
df.isnull().sum()

Show Number    0
 Air Date      0
 Round         0
 Category      0
 Value         0
 Question      0
 Answer        2
dtype: int64

In [ ]:
# here we see the Answer column has two missing values.